@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap')

*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: 'Barlow', sans-serif
    transition: 100ms


.min-h-pages-form
    min-height: 5em