<template>
  <div class="app mw-100 overflow-hidden grid grid-cols-12 grid-row-nav-rest md:gap-x-4 h-full bg-gray-100 lg:text-2xl" >
    <navbar/>

    <lesson v-if="loaded" :lesson-content="lessonContent"
            v-on:openDictionary="openDictionary"
            v-on:closeDictionary="closeDictionary"/>
    <div v-else class="col-span-9 flex justify-center items-center w-full h-full" >
      <i class="fas fa-spinner fa-pulse"></i>
    </div>
    <dictionary :is-expanded="dictionaryIsExpanded" :word="searchPhrase" v-on:changeDictionaryIsExpanded="changeDictionaryIsExpanded()"/>
  </div>
</template>

<script>
import navbar from './navbar';
import lesson from './lesson';
import dictionary from './dictionary';
import axios from "axios";
// import "../tutorial";
// USE http://video.google.com/timedtext?lang=en&v=hSnB7zGW15M for captions
export default {
  name: "app.vue",
  components: {
    navbar,
    lesson,
    dictionary,
  },
  data() {
    return {
      dictionaryIsExpanded: false,
      searchPhrase: '',
      lessonContent: {
        // 'title':'Lorem Ipsum Lesson 1',
        // 'image':'',
        // 'pages':[
        //   [
        //     [{'content':'Hello','index':1},{'content':' ','clickable':false,'index':2},{'content':'world','index':3},{'content':'!','clickable':false,'index':4}],
        //     [{'content':'Show','index':5},{'content':' ','clickable':false,'index':6},{'content':'me','index':7},{'content':' ','clickable':false,'index':8},{'content':'a','index':9},{'content':' ','clickable':false,'index':10},{'content':'trick','isNew':true,'index':11},{'content':' ','clickable':false,'index':12},{'content':'please','index':13},{'content':'?','index':14}],
        //     [{'content':'Yes','index':15},{'content':' ','clickable':false,'index':16},{'content':'I','index':17},{'content':' ','clickable':false,'index':18},{'content':'can','index':19},{'content':'.','clickable':false,'index':20}],
        //     [{'content':'Think','index':21},{'content':' ','clickable':false,'index':22},{'content':'into','index':23},{'content':' ','clickable':false,'index':24},{'content':'something','index':25}]
        //   ],
        //   [
        //       [{'content':'This','index':26},{'content':' ','clickable':false,'index':27},{'content':'is','index':28},{'content':' ','clickable':false,'index':29},{'content':'an','index':30},{'content':' ','clickable':false,'index':31},{'content':'example','index':32}]
        //   ]
        // ]
      }
    }
  },
  async mounted() {
    this.lessonContent=window.currentLesson;
  },
  methods: {
    changeDictionaryIsExpanded() {
      this.dictionaryIsExpanded = !this.dictionaryIsExpanded;
    },
    openDictionary(searchPhrase) {
      this.searchPhrase = searchPhrase;
      this.dictionaryIsExpanded = true;
    },
    closeDictionary() {
      this.dictionaryIsExpanded = false;
    },
    changeText(text) {
      this.lessonContent=text;
    }
  },
  computed: {
    loaded(){
      return Object.keys(this.lessonContent).length !== 0;
    }
  }
}
</script>
<style lang="scss">
.app {
  min-height: 90vh;
  max-height: 100vh;
}
.grid-row-nav-rest {
  grid-template-rows: 2em 1fr;
}
</style>