<template>
    <div class="change-text p-3 flex space-x-4 h-12">
        <input v-model="message" placeholder="new lesson text">
        <button @click="$emit('changeText',message)"><i class="fa fa-pencil-alt"></i></button>
    </div>
</template>

<script>
export default {
  name: "changeText.vue",
  data() {
    return {
      message: "",
    }
  }
}
</script>

<style scoped>
.change-text{
  grid-column: 1 / 1;
}
</style>