<template>
  <div class="dictionary z-10 col-end-13 p-2 lg:p-5 bg-blue-400 md:text-xl"
       :class="[ isExpanded ? ' static justify-self-end w-96 lg:w-auto lg:col-span-3' : 'col-span-1' ]">
    <button @click="$emit('changeDictionaryIsExpanded')" class="expander bg-blue-200 rounded-full w-10 h-10 focus:outline-none" v-html="buttonSymbol"></button>
    <div v-show="isExpanded">
      <div class="header">
        <h3 class="d-inline">{{ word }}</h3>
      <i v-show="word != ''" class="fas fa-volume-up"></i>
      </div>
      <div class="dictionary-options mt-2">
        <a v-bind:href="'https://translate.google.com/?t&sl=en&tl=es&op=translate&text=' + encodeURI(word)" target="_blank">
          <div class="bg-blue-200 hover:bg-blue-300 rounded d-flex items-center p-2 mb-2">Google!</div>
        </a>
        <a v-bind:href="'https://context.reverso.net/translation/english-spanish/' + encodeURI(word)" target="_blank">
          <div class="bg-blue-200 hover:bg-blue-300 rounded d-flex items-center p-2 mb-2">Context Reverso</div>
        </a>
        <a v-bind:href="'https://www.google.com/search?tbm=isch&q=' + encodeURI(word)" target="_blank">
          <div class="bg-blue-200 hover:bg-blue-300 rounded d-flex items-center p-2 mb-2">Google Imagens</div>
        </a>
        <a v-bind:href="'https://www.google.com/search?tbm=isch&q=' + encodeURI(word)" target="_blank">
          <div class="bg-blue-200 hover:bg-blue-300 rounded d-flex items-center p-2 mb-2">Wikipedia comming soon</div>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "dictionary",
  props: {
    word: {
      type: String,
      default: ''
    },
    isExpanded:{
      type: Boolean,
      default: false,
      required: false
    }
  },
  computed:{
    buttonSymbol: function() {
      return this.isExpanded ? '<i class="fas fa-times"></i>': '<i class="fas fa-arrow-left"></i>';
    }
  }
}
</script>