<template>
  <div class="lesson p-2 lg:p-8 rounded col-span-11 lg:col-span-9"
        @click="closeDictionaryIfNoWordClicked" >
      <div><h2>Page: {{ currentPageHumanFormat }}</h2></div>
      <div class="lesson-container bg-blue-100 w-full h-full flex justify-start items-start rounded">
        <button v-show="currentPageHumanFormat!==1" @click="currentPage--" class="paginate lesson-btn"><i class="fas fa-arrow-left text-white"></i></button>
        <div class="container-text h-full sm:text-4xl md:text-3xl lg:text-xl mx-2 pt-2 overflow-auto mh-100">
          <template v-for="(phrases,phraseNum) in lessonContentCurrentPage">
            <template v-for="(word,wordNum) in phrases" >

              <word :phraseNum="phraseNum" :wordNum="wordNum"
                    v-on:selectFirst="selectFirst(word.content,word.index)"
                    v-on:selectLast="selectLast(word.content,word.index)"
                    v-on:selectOne="selectSingle(word.content,word.index)"
                    v-on:unselect="unselect()"
                    v-on:openDictionary="openDictionary"
                    :is-selected="word.index >= firstSelection && word.index <= lastSelection"
                    :isNew="word.isNew"
                    :content="word.content"
                    :clickable="word.clickable"/>

            </template>
          </template>
        </div>
        <button v-show="currentPageHumanFormat !== lessonContent.pages.length" @click="currentPage++" class="paginate lesson-btn"><i class="fas fa-arrow-right text-white"></i></button>
      </div>
  </div>
</template>

<script>
import word from './word'
export default {
  name: "lesson",
  components:{
    word
  },
  props:{
    lessonContent: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      currentPage: 0,
      maxPageLength: 600,
      lastPage:3,
      firstSelection: -1,
      lastSelection: -1
    }
  },
  computed: {
    currentPageHumanFormat(){
      return this.currentPage + 1
    },
    lessonContentCurrentPage() {
      return this.lessonContent.pages[this.currentPage];
    },
    wordsBetween(){
      // array of arrays ( phrases[words[]] ) into flatten array ( words[] ) then filter
      return [].concat.apply([],this.lessonContentCurrentPage)
          .filter( (e) => (e.index >= this.firstSelection && e.index <= this.lastSelection) )
          .map( e => e.content )
          .join('');
    }
  },
  methods: {
    selectFirst(content,wordIndex) {
      this.firstSelection=wordIndex;
      this.lastSelection=wordIndex;
    },
    selectLast(content,wordIndex) {
      if (this.firstSelection !== -1 ) {
        this.firstSelection > wordIndex ? this.firstSelection = wordIndex : this.lastSelection = wordIndex;
      }
    },
    selectSingle(content,wordIndex){
      this.firstSelection=wordIndex;
      this.lastSelection=wordIndex;
      this.$emit('openDictionary',content);
    },
    unselect(){
      this.firstSelection = -1;
      this.lastSelection = -1;
      this.$emit('closeDictionary')
    },
    openDictionary() {
      if (this.firstSelection !== -1 && this.lastSelection !== -1) {
        this.$emit('openDictionary',this.wordsBetween);
      }
    },
    closeDictionaryIfNoWordClicked(event) {
      if(event.target === this){ this.$emit('closeDictionary')}
    }
  },
}
</script>

<style lang="scss" scoped>
.lesson-container{
  height: calc(100% - 2em);
}
.main-app{
  min-width: 50vw;
}
.lesson-btn {
  min-width: 2em !important;
  @apply h-full ml-auto bg-gray-300 rounded;
}
</style>