<template>
<nav class="h-full col-span-12 bg-blue-300 px-8 flex items-center justify-between">
  <a href="/"><img class="logo" src="/img/logo.svg" alt=""></a>
  <div class="flex justify-center p-12">
    <!-- Dropdown -->
    <div class="relative">
      <button @click="isExpanded=!isExpanded" @blur="isExpanded = false" class="block h-12 w-12 rounded-full overflow-hidden focus:outline-none">
        <i class="fas fa-user text-white"></i>
      </button>
      <!-- Dropdown Body -->
      <div v-show="isExpanded" class="absolute right-0 w-40 mt-2 py-2 bg-white border rounded shadow-xl z-50">
        <a href="#" class="transition-colors duration-200 block px-4 py-2 text-normal text-gray-900 rounded hover:bg-purple-500 hover:text-white">Settings</a>
        <div class="py-2">
          <hr/>
        </div>
        <a href="#" class="transition-colors duration-200 block px-4 py-2 text-normal text-gray-900 rounded hover:bg-purple-500 hover:text-white">
          Logout
        </a>
      </div>
      <!-- // Dropdown Body -->
    </div>
    <!-- // Dropdown -->
  </div>

</nav>
</template>

<script>
export default {
  name: "navbar",
  data() {
    return {
      isExpanded: false
    }
  }
}
</script>

<style lang="scss" scoped>
nav {
  .logo {
    height: 2rem;
    &:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
  }
}

</style>