<template>
  <span
      @mousedown="clickable ? selectFirst() : null"
      @mouseover="selectLastIfMousePressed($event)"
      @mouseup="$emit('openDictionary')"
      @click="$emit('selectOne')"
      @blur="isSelected ? $emit('unselect'):null"
      class="cursor-pointer select-none focus:outline-none"
      :class="{'bg-blue-300' : isNew, 'bg-blue-500': isSelected }"
      tabindex="0">
    {{ content }}
  </span>
</template>

<script>
export default {
  name: "word",
  props: {
    isNew:{
      type: Boolean,
      required: false,
      default: false,
    },
    clickable:{
      type: Boolean,
      required: false,
      default: true
    },
    content: {
      type: String,
      required: true
    },
    isSelected: {
      type: Boolean,
      required: false,
      default: false
    },
    phraseNum: {
      type: Number,
      required: true,
      default: 0
    },
    wordNum: {
      type: Number,
      required: true,
      default: 0
    },
  },
  methods:{
    selectFirst() {
      this.$emit('selectFirst',this.content, this.phraseNum, this.wordNum)
    },
    selectLastIfMousePressed(event) {
      if (event.buttons == 1) {
        this.$emit('selectLast',this.content, this.phraseNum, this.wordNum)
      }
    },
  }
}
</script>

<style scoped>

</style>