{{ form_start(form) }}
    {{ form_label(form.title) }}
    {{ form_errors(form.title) }}
    {{ form_widget(form.title, { 'attr': { 'class':'w-full rounded' }} )}}

    {{ form_label(form.pages) }}
    {{ form_errors(form.pages) }}
    {{ form_widget(form.pages, { 'attr': { 'class':'w-full min-h-pages-form rounded' }} ) }}

    {{ form_label(form.author) }}
    {{ form_errors(form.author) }}
    {{ form_widget(form.author, { 'attr': { 'class':'w-full rounded' }} ) }}

    {{ form_label(form.image) }}
    {{ form_errors(form.image) }}
    {{ form_widget(form.image, { 'attr': { 'class':'w-full rounded' }} ) }}
<button class="btn-save w-1/2 mt-1 ml-auto mr-auto">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
