{% extends 'base.html.twig' %}

{% block title %}Lesson index{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}
    {% include 'components/title-btn.html.twig' with { 'title':'Lessons','btn_text':'<i class="fas fa-plus"></i> Create new','btn_link':path('lesson_new') } %}
    <div class="bg-blue-200 p-4">
        {% for lesson in lessons %}
            {% set lessonVars = { 'title': lesson.title, 'image':lesson.image,'author':lesson.author,'show': path('lesson_show', {'id': lesson.id}) } %}
            {% include 'lesson/list-item.html.twig' with lessonVars %}
        {% endfor %}
    </div>

{% endblock %}
