<div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl mb-4">
    <div class="md:flex">
        <div class="md:flex-shrink-0">
            <img class="h-48 w-full md:w-48 {{ image is defined and image is not null ? 'object-cover':'object-contain bg-blue-400' }}" src="{{ asset('uploads/lessons/') ~ image | default('default.svg') }}" alt="Man looking at item at a store">
        </div>
        <div class="p-8">
            <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">{{ title | default('...') }}</div>
            <a href="{{ show }}" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">Finding customers for your new business</a>
            <p class="mt-2 text-gray-500">Getting a new business off the ground is a lot of hard work. Here are five ideas you can use to find your first customers.</p>
        </div>
    </div>
</div>