{% extends 'base.html.twig' %}

{% block title %}New Lesson{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}
    {% include 'components/title-btn.html.twig' with { 'title':'Create new Lesson', 'btn_text':'<i class="fas fa-arrow-left"></i> back to list','btn_link':path('lesson_index') } %}
    <div class="grid grid-cols-1 lg:grid-cols-3">
        <div class=""></div>
        <div class="bg-blue-200 w-full p-4 rounded shadow">
            {{ include('lesson/_form.html.twig') }}
        </div>
    </div>


{% endblock %}
