{% extends 'base.html.twig' %}

{% block title %}Lesson{% endblock %}

{% block body %}
    <h1>Lesson</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lesson.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ lesson.title }}</td>
            </tr>
            <tr>
                <th>Pages</th>
                <td>{{ lesson.pages ? lesson.pages|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ lesson.author }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ lesson.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('lesson_index') }}">back to list</a>

    <a href="{{ path('lesson_edit', {'id': lesson.id}) }}">edit</a>

    {{ include('lesson/_delete_form.html.twig') }}
{% endblock %}
