{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<script>
    window.currentLesson={{ lesson|jsonld}}
</script>
<div id="app">
</div>
{% endblock %}
{% block stylesheets %}
{{ parent() }}
    <style>
        body, .app {
            width:100vw;
            height: 100vh;
        }
    </style>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock %}